{% for post in post_list %}
    
    <p>{{ post.author }}</p>
    <p>{{ post.published_date }}</p>
    <p>{{ post.created_date }}</p>
    <p>{{ post.title }}</p>
    <p>{{ post.text|linebreaksbr }}</p>
    
{% endfor %}
 
 <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
  </head>


  <body>
    <div class="container">
      <p>
        <a href="{% url 'blog:person' %}" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-play"></span> Play
        </a>
      </p> 
    </div>
  </body>
</html>
